h1 {
  font-family: cursive;
  text-align: center;
}

#cold, #moderate, #hot {
  display: none;
}

body {
  margin: 20px
}

img {
  width: 800px;
  height: auto;
}

body {
  background-color:#E4F3E6;
}
.jumbotron {
  background-color:#C2C6C5
}
